<!-- <h3>Select Time</h3>
<div class="dd-timepicker">
    <mat-form-field appearance="fill" [ngStyle]="{'width': '45%' }">
        <mat-label></mat-label>
        <mat-select [(ngModel)]="valueLeft">
            <mat-option *ngFor="let time of dataLeft" [value]="time">
                {{ time }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <ng-container>
        <mat-form-field appearance="fill" [ngStyle]="{'width': '10%' }">
            <mat-label></mat-label>
            <input matInput [value]="':'" readonly>
        </mat-form-field>
    </ng-container>
    <mat-form-field appearance="fill" [ngStyle]="{'width': '45%' }">
        <mat-label></mat-label>
        <mat-select [(ngModel)]="valueRight">
            <mat-option *ngFor="let time of dataRight" [value]="time">
                {{ time }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="btn-area">
    <button mat-raised-button (click)="doAction()">Ok</button>
</div> -->
