


<div class="title">
    List Receiving
</div>

<div class="main-page">
    <div class="content" [class.useBackground]="true">
        <div class="filter-area">
            <div class="input-area">
               
               
            </div>
            <div class="button-area">
              
                <button mat-mini-fab [matTooltip]="'Add'" (click)="goToDetail()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        
        <app-sa-w-table [schema]="tblSchema" (onDataValue)="onDataValueHandler($event)" (callbackAction)="callbackActionHandler($event)" >
        </app-sa-w-table>
    </div>
</div>