<div class="wrapper">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side" opened style="position: fixed;">
           
            <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
                <app-sidebar></app-sidebar>
                <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
            </div>
        </mat-drawer>

        <div class="example-sidenav-content">
            <div class="cnavbar" *ngIf="!isSmallScreen">
                <div class="start-content" style="display: flex;justify-content: flex-start;">
                    <button type="button" mat-button (click)="drawer.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
                
                <div class="start-content" style="display: flex;justify-content: flex-end;" >
                    <!-- <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 13px;">
                        <i class="material-icons" style="color: red;">notifications</i>
                        <span class="notification">5</span>
                        <p>
                            <span class="d-lg-none d-md-block">Some Actions</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="javascript:void(0)">Mike John responded to your email</a>
                        <a class="dropdown-item" href="javascript:void(0)">You have 5 new tasks</a>
                        <a class="dropdown-item" href="javascript:void(0)">You're now friend with Andrew</a>
                        <a class="dropdown-item" href="javascript:void(0)">Another Notification</a>
                        <a class="dropdown-item" href="javascript:void(0)">Another One</a>
                    </div> -->

                    <p style="margin: auto;">Hai {{username}}..</p>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="margin: auto;">
                        <mat-icon>person</mat-icon>
                    </button>
                    
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="Logout()">
                            <mat-icon>logout</mat-icon>
                            <span>Logout</span>
                        </button>
                    </mat-menu>
                    
                </div>
                    
            </div>
                
            <div class="main-panel" style="width: 100%!important;margin-top: 55px;">
            <app-navbar *ngIf="isSmallScreen"></app-navbar>
            <router-outlet></router-outlet>
            <!-- <div *ngIf="isMaps('maps')"> -->
                <app-footer></app-footer>
            <!-- </div> -->
            </div>
        </div>
      
      </mat-drawer-container>
   
   

</div>

   
