<div class="dd-select">
    <h3>Select Complaint Type</h3>
    <div class="search-area">
        <input type="text" [(ngModel)]="search" (ngModelChange)="onSearch()" [placeholder]="'Search'">
    </div>
    <div class="table-wrapper" *ngIf="!onRequest">
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>SubCategory</th>
                    <th>Code</th>
                    <th>Remarks</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="tappable" *ngFor="let val of previewData;let i = index" (click)="onRowClick(i)">
                    <td>{{ val.Category }}</td>
                    <td>{{ val.Title }}</td>
                    <td>{{ val.Code }}</td>
                    <td>
                        <ng-container *ngFor="let dt of val.Problem">
                            {{dt}} <br>
                        </ng-container>
                    </td>
                  
                    <td>
                        <label>
                            <input type="radio" name="dataSelected" [value]="i" [checked]="val.checked"/>
                            <span></span>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <mat-card *ngIf="onRequest" style="display: flex; justify-content: center; align-items: center">
        <mat-spinner></mat-spinner>
    </mat-card>
    <div class="btn-area">
        <button mat-stroked-button (click)="doCancel()" style="margin-right: 10px;"
                    [disabled]="onRequest">Cancel</button>
        <button mat-raised-button (click)="doAction()">Ok</button>
    </div>
</div>
