<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="role=='superadmin'">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">store</i>
                    </div>
                    <p class="card-category">Master System</p>
                    <!-- <h3 class="card-title">$34,245</h3> -->
                </div>
                <div class="card-footer">
                    <div class="stats">
                      <button mat-button (click)="gotoApp('master')">Go to App..</button>
                    </div>
                </div>
            </div>
        </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Digital Checklist</p>
                      <!-- <h3 class="card-title">49/50
                          <small>GB</small>
                      </h3> -->
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <!-- <i class="material-icons text-danger">warning</i> -->
                          <button mat-button (click)="gotoApp('dc')" >Go to App..</button>
                      </div>
                  </div>
              </div>
          </div>
        
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">record_voice_over</i>
                      </div>
                      <p class="card-category">Complaint Management</p>
                      <!-- <h3 class="card-title">75</h3> -->
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <button mat-button (click)="gotoApp('voc')">Go to App..</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-bar-chart"></i>
                      </div>
                      <p class="card-category">Dashboard Digital Checklist Systems</p>
                      
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <button mat-button (click)="gotoApp('ddc')">Go to App..</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
     
  </div>
</div>
