<mat-tab-group>
    <mat-tab label="Dashboard By Day"> 
        <div class="title">
            Dashboard Closing
         </div>
         
         <div class="main-page">
             <div class="content" [class.useBackground]="false">
                 <div style="margin-bottom: 10px;">
                     <div style="width: 100%;display: flex;justify-content: space-between;">
                         <div style="width: 48%;">
                             <mat-form-field appearance="fill" style="width: 100%;margin-right: 10px;">
                                 <mat-label>Year</mat-label>
                                 <mat-select [(ngModel)]="modelFilter.Year" >
                                    
                                   
                                     <mat-option  *ngFor="let val of year;let i = index" [value]="val">
                                         {{val}}
                                     </mat-option>
                 
                                 </mat-select>
                             </mat-form-field>
                         </div>
         
                         <div style="width: 48%;">
                             <mat-form-field appearance="fill" style="width: 100%;margin-right: 10px;">
                                 <mat-label>Month</mat-label>
                                 <mat-select [(ngModel)]="modelFilter.Bulan" >
                                    
                                  
                                     <mat-option  *ngFor="let val of bulan;let i = index" [value]="i+1">
                                         {{val}}
                                     </mat-option>
                 
                                 </mat-select>
                             </mat-form-field>
                         </div>
         
                     </div>
                 </div>
                 <div class="sa-w-button">
                    
                     <button mat-mini-fab [matTooltip]="'Refresh'" (click)="filter()">
                         <mat-icon>refresh</mat-icon>
                     </button>
                     <button mat-raised-button color="primary" [matTooltip]="'Get Data'" (click)="getData()">
                        Get Data
                    </button>
                 
                 </div>
                 
              
             </div>
         
            
         
             <div class="content" [class.useBackground]="true" style="margin-top: 30px;">
                 <label class="title">Closing Compliance %</label>
                 <app-sa-w-table [schema]="tblSchema2" (onDataValue)="onDataValueHandler($event)" [globalValue]="modelFilter">
                 </app-sa-w-table>
             </div>
         
             <div class="content" [class.useBackground]="true" style="margin-top: 30px;">
                 <label class="title">Closing Quality %</label>
                 <app-sa-w-table [schema]="tblSchema" (onDataValue)="onDataValueHandler($event)" [globalValue]="modelFilter">
                 </app-sa-w-table>
             </div>
             
         
         </div>
    </mat-tab>
    <mat-tab label="Dashboard By Month"> 
        <div class="title">
           Dashboard Closing
         </div>
         
         <div class="main-page">
             <div class="content" [class.useBackground]="false">
                 <div style="margin-bottom: 10px;">
                     <div style="width: 100%;display: flex;justify-content: space-between;">
                         <div style="width: 48%;">
                             <mat-form-field appearance="fill" [ngStyle]="{'width': '100%' }">
                                 <mat-label>Date Form Period Start</mat-label>
                                 <input matInput [(ngModel)]="modelFilterByMonth.StartDate" [matDatepicker]="HDRptDateStartPicker" readonly>
                                 <mat-datepicker-toggle matSuffix [for]="HDRptDateStartPicker"></mat-datepicker-toggle>
                                 <mat-datepicker #HDRptDateStartPicker disabled="false"></mat-datepicker>
                             </mat-form-field>
                         </div>
                         <div style="width: 48%;">
                             <mat-form-field appearance="fill" [ngStyle]="{'width': '100%' }">
                                 <mat-label>Date Form Period End</mat-label>
                                 <input matInput [(ngModel)]="modelFilterByMonth.EndDate" [matDatepicker]="HDRptDateEnd" readonly>
                                 <mat-datepicker-toggle matSuffix [for]="HDRptDateEnd"></mat-datepicker-toggle>
                                 <mat-datepicker #HDRptDateEnd disabled="false"></mat-datepicker>
                             </mat-form-field>
                         </div>
                     </div>
                     <div style="width: 100%;display: flex;justify-content: space-between;">
                         <div style="width: 48%;">
                             <mat-form-field appearance="fill" style="width: 100%;margin-right: 10px;">
                                 <mat-label>OutletName</mat-label>
                                 <mat-select [(ngModel)]="modelFilterByMonth.OutletName" >
                                    
                                     <mat-option [value]="">
                                         ALL 
                                     </mat-option>
                                     <mat-option  *ngFor="let val of listOutlet;let i = index" [value]="val.OutletName">
                                         {{val.OutletName}}
                                     </mat-option>
                 
                                 </mat-select>
                             </mat-form-field>
                         </div>
                         <div style="width: 48%;">
                            <mat-form-field appearance="fill" style="width: 100%;margin-right: 10px;">
                                <mat-label>Am</mat-label>
                                <mat-select [(ngModel)]="modelFilterByMonth.Am" >
                                   
                                    <mat-option [value]="">
                                        ALL 
                                    </mat-option>
                                    <mat-option  *ngFor="let val of listAm;let i = index" [value]="val.AM">
                                        {{val.AM}}
                                    </mat-option>
                
                                </mat-select>
                            </mat-form-field>
                        </div>
                     </div>
                 <div class="sa-w-button">
                     <!-- <button mat-mini-fab [matTooltip]="'Clear'" >
                         <mat-icon>close</mat-icon>
                     </button> -->
                     <button mat-mini-fab [matTooltip]="'Refresh'" (click)="filterGrafik()">
                         <mat-icon>refresh</mat-icon>
                     </button>
                    
                 
                 </div>
                 
              
             </div>
         
             <div class="ttwo-main useBackground" >
                 <div class="left content" [class.useBackground]="false" [ngStyle]="{'width': leftWidth + '%' }">
                     <label class="title">Grafik Closing Compliance %</label>
                     <!-- <button mat-mini-fab [matTooltip]="'download'"  (click)="downloadChart()">
                         <mat-icon>download</mat-icon>
                     </button> -->
                     <canvas baseChart class="chart" #chartCanvas 
                         [data]="barChartData"
                         [options]="barChartOptions"
                         [plugins]="barChartPlugins"
                         [type]="barChartType"
                         (chartHover)="chartHovered($event)"
                         (chartClick)="chartClicked($event)">
                      </canvas>
                 </div>
             </div>
             
             <div class="ttwo-main useBackground" style="margin-top: 30px;">
                <div class="left content" [class.useBackground]="false" [ngStyle]="{'width': leftWidth + '%' }">
                    <label class="title">Grafik Closing Quality %</label>
                    <!-- <button mat-mini-fab [matTooltip]="'download'"  (click)="downloadChart()">
                        <mat-icon>download</mat-icon>
                    </button> -->
                    <canvas baseChart class="chart" #chartCanvas 
                        [data]="barChartDataQua"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [type]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                     </canvas>
                </div>
            </div>
        </div>
    </div>
    </mat-tab>
  </mat-tab-group>


