


<div class="title">
    List User
</div>

<div class="main-page">
    <div class="content" [class.useBackground]="true">
        <div class="filter-area">
            <div class="input-area">
                
               
            </div>
            <div class="button-area">
                <button mat-mini-fab [matTooltip]="'Add user'" (click)="addUser()">
                    <mat-icon>add</mat-icon>
                </button>
               
            </div>
        </div>
        
        <app-sa-w-table [schema]="tblSchema" (onDataValue)="onDataValueHandler($event)" (callbackAction)="callbackActionHandler($event)" >
            <!-- <tr *ngFor="let item of datatable;let i=index">
                <td class="td-table">{{ i+1 }}</td>
                <td class="td-table">{{ item.OutletName }}</td>
                <td class="td-table">{{ item.Menu }}</td>
                <td class="td-table">{{ item.Suka }}</td>
                <td class="td-table">{{ item.Rekom }}</td>
                <td class="td-table">{{ item.Rating }}</td>
                <td class="td-table">{{ item.Saran }}</td>
                <td class="td-table">{{ item.Voc_Date }}</td>
                <td class="td-table">{{ item.Source }}</td>
                <td class="td-table">{{ item.Am }}</td>
                <td class="td-table">{{ item.Drm }}</td>
                <td class="td-table">{{ item.Category }}</td>
               
            </tr> -->
           
            
        </app-sa-w-table>
    </div>
</div>