
    <h3  mat-dialog-title>Outlet</h3>

    <mat-dialog-content>
        <div class="form-area">
            <mat-form-field appearance="fill" style="width: 100%;margin-right: 10px;">
                <mat-label>Outlet Type</mat-label>
                <mat-select [(ngModel)]="modelData.OutletType" >
                   
                    <mat-option  [value]="'MALL'">
                        MALL
                    </mat-option>
                    <mat-option  [value]="'STAND ALONE'">
                        STAND ALONE
                    </mat-option>

                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 100%;margin-right: 10px;" *ngIf="modelData.OutletType=='MALL'">
                <mat-label>Outlet Mall Type</mat-label>
                <mat-select [(ngModel)]="modelData.OutletMallType" >
                   
                    <mat-option  [value]="'Food Court'">
                        Food Court
                    </mat-option>
                    <mat-option  [value]="'Resto'">
                        Resto
                    </mat-option>

                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Area Manager</mat-label>
                <input matInput [placeholder]="'Area Manager'" [(ngModel)]="modelData.Am">
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>DRM</mat-label>
                <input matInput [placeholder]="'DRM'" [(ngModel)]="modelData.Drm">
            </mat-form-field>

            <div style="width: 100%;display: flex;justify-content: space-between;">
                <mat-form-field appearance="fill" style="width: 25%;">
                    <mat-label>Code Outlet</mat-label>
                    <input matInput [placeholder]="'Code Outlet'" [(ngModel)]="modelData.CodeOutlet" >
                </mat-form-field>
                <mat-form-field appearance="fill" style="width: 70%;">
                    <mat-label>Outlet Name</mat-label>
                    <input matInput [placeholder]="'Outlet Name'" [(ngModel)]="modelData.OutletName" >
                </mat-form-field>
            </div>
        
            <div style="width: 100%;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>District Area</mat-label>
                    <input matInput [(ngModel)]="modelData.DistrictArea" readonly>
                    <mat-icon class="tappable" (click)="openModalDistrict()" matSuffix>search</mat-icon>
                </mat-form-field>
            </div>

            <mat-form-field appearance="fill" style="width: 100%;margin-right: 10px;">
                <mat-label>Ownership</mat-label>
                <mat-select [(ngModel)]="modelData.Ownership" >
                   
                    <mat-option  [value]="'COMPANY'">
                       COMPANY
                    </mat-option>
                    <mat-option  [value]="'KEMITRAAN'">
                        KEMITRAAN
                    </mat-option>

                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Address</mat-label>
                <textarea matInput rows="5" [placeholder]="'JL Bintaro Raya'" [(ngModel)]="modelData.Address"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 100%;margin-right: 10px;">
                <mat-label>Outlet Status</mat-label>
                <mat-select [(ngModel)]="modelData.OutletStatus" >
                   
                    <mat-option  [value]="'OPEN'">
                       OPEN
                    </mat-option>
                    <mat-option  [value]="'ON PROGRESS'">
                        ON PROGRESS
                    </mat-option>
                    <mat-option  [value]="'CLOSED'">
                        CLOSED
                     </mat-option>
                    
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 100%;" >
                <mat-label>Employee</mat-label>
                <input matInput [placeholder]="'Find Employee'" readonly>
                <mat-icon class="tappable" (click)="openModalEmployee()" matSuffix>search</mat-icon>
            </mat-form-field>

            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Emp ID</th>
                            <th>Emp Name</th>
                            <th>Position</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tappable" *ngFor="let val of modelData.EmpList;let i = index">
                            <td>{{ val.EmpID }}</td>
                            <td>{{ val.FullName }}</td>
                            <td>{{ val.Position }}</td>
                            <td>
                                <mat-icon class="tappable" (click)="deleteEmp(val.EmpID)">delete</mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
    </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-stroked-button (click)="doCancel()" style="margin-right: 10px;"
        [disabled]="onRequest">Cancel</button>
    <button mat-raised-button (click)="doSave()" [disabled]="onRequest">
        Save
        <mat-spinner diameter="25" *ngIf="onRequest"></mat-spinner>
    </button>
    </mat-dialog-actions>
       
